{{#fieldsArray}}
	<div class="control-group <% if (typeof errors.{{this}} === "object") { %>error<% } %>">
		<label class="control-label" for="{{this}}">{{this}}</label>
		<input name="{{this}}" type="text" value="<%= {{this}} %>" />
		<% if (typeof errors.{{this}} === "object") { %>
			<div class="message-small red"><%= errors.{{this}}.message %></div>
		<% } %>
	</div>
{{/fieldsArray}}