<h2>Hello World!</h2>

<p>Welcome to Backbone on Express!</p>

<ul>
	<li>To change the layout for all pages, edit the <strong>/public/templates/layout.ejs</strong> file.</li>
	<li>To Change this page, edit the <strong>/public/templates/pages/home.ejs</strong> page</li>
	<li>This page is driven by the <strong>/app/controllers/pages_controller.js</strong> file.</li>
	<li>To generate a new scaffold, run <strong>anvil gen boe:crud</strong> from your terminal</li>
</ul>