<table>
	{{#fields}}
		<tr>
			<td>{{this}}:</td>
			<td><% if (typeof({{this}}) !== "undefined") { %><%= {{this}} %><% } %></td>
		</tr>
	{{/fields}}
</table>
<a href="/{{name}}" class="btn">All {{name}}s</a>
<a href="/{{name}}/edit/<%= _id %>" class="btn btn-primary">Edit <%= _id %></a>